:root {}

@font-face {
    font-family: 'Orbitron';
    src: url('../webfonts/Orbitron-Regular.woff2');
}

html {
    background: var(--white);
    color: var(--dark);
    font-size: 15px;
    /* pt em */
    font-family: Verdana, Helvetica, sans-serif;
}